<form [formGroup]="fGroup" (ngSubmit)="submit()">
  <label>name
    <input class="form-control" formControlName="name" required/>
  </label>
  <small class="text-danger" *ngIf="fGroup.controls.name.touched&&fGroup.controls.name.errors?.required">Name is required</small>
  <label>longitude
    <input class="form-control" formControlName="longitude" required/>
  </label>
  <small class="text-danger" *ngIf="fGroup.controls.longitude.touched&&fGroup.controls.longitude.errors?.required">Longitude is required</small>
  <label >latitude
    <input class="form-control" formControlName="latitude" required/>
  </label>
  <small class="text-danger" *ngIf="fGroup.controls.latitude.touched&&fGroup.controls.latitude.errors?.required">Latitude is required</small>
  <label>
    Country
    <select class="custom-select" formControlName="country">
      <option *ngFor="let countries of countries" [value]="countries.iata_code">{{countries.name}}</option>
    </select>
  </label>
  <small class="text-danger" *ngIf="fGroup.controls.country.touched&&fGroup.controls.country.errors?.required">Country name is required</small>
  <label>description
    <input class="form-control" formControlName="description" required/>
  </label>
  <small class="text-danger" *ngIf="fGroup.controls.description.touched&&fGroup.controls.description.errors?.required">Description name is required</small>
  <label>
    Color
    <select class="custom-select" formControlName="color">
      <option *ngFor="let color of colors" [value]="color.id">{{color.value}}</option>
    </select>
  </label>
  <small class="text-danger" *ngIf="fGroup.controls.color.touched&&fGroup.controls.color.errors?.required">Color name is required</small>
  <button
    type="submit"
    class="btn btn-outline-info"
    [disabled]="fGroup.invalid"
  >
    Submit
  </button>
</form>
